*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ***************** */
/* ! UTILITIES */
/* ***************** */
:root{
    --black: #000000;
    --dark-gray: #121212;
    --gray: #232323;
    --light-gray: #b3b3b3;
    --spotify-green: #1dd35e;
    --header-width: 27rem;
    --footer-height:5.5rem;
    --main-width: calc(100vw - var(--header-width) - 1rem);
}

body {
    background-color: black;
    color: white;
    font-family: Montserrat, sans-serif;
    height: 100vh;
}

.row{
    display: flex;
    flex-direction: row;
}

.justified{
    justify-content: space-between;
}

.rounded{
    border-radius: 7px;
}

.main-container{
    padding: .5rem;
    height: calc(100vh - var(--footer-height));
}

a.button{
    font-size: .8rem;
    background-color: var(--gray);
    padding: .5rem .8rem;
    border-radius: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

i.giant{
    line-height: 3rem;
    font-size: 1.5rem;
    margin: 0 1rem 0 .5rem;
}

i.medium{
    line-height: 2rem;
    margin: .5rem 0;
    font-size: 1.2rem;
    height: 2rem;
    width: 2rem;
    text-align: center;
}

i.small{
    margin: .5rem 0;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
}

.wrapped{
    display: flex;
    flex-wrap: wrap;
}

.progress-bar{
    background-color: var(--gray);
    border-radius: 3rem;
}

.actual-progress{
    background-color: var(--light-gray);
    border-radius: 3rem;
    position: relative;
    left: 0;
    height: 100%;
}

.sphere{
    height: 180%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: -33%;
}

/* ***************** */
/* ? HEADER */
/* ***************** */

header{
    width: var(--header-width);
}

header .nav,
header .library{
    padding: .5rem;
}

header .centered{
    width: 95%;
    margin: 0 auto;
}

header h1{
    font-size: 1rem;
    line-height: 3rem;
}

header section.nav{
    margin-bottom: .5rem;
}

header .button{
    margin-right: .5rem;
}

header h3{
    line-height: 1.5rem;
    font-size: .8rem;
    font-weight: 500;
    align-self: center;
}

header .playlist-list article{
    height: 3rem;
    margin: .5rem 0;
}

img.rounded{
    border-radius: 3px;
}

span.rotate i{
    transform: rotate(45deg);
    align-self: center;
    font-size: .8rem;
}

span.rotate{
    margin-right: .5rem;
}

.playlist-info{
    margin-left: .5rem;
    align-content: center;
}

.playlist-info h2{
    font-size: 1rem;
}

.playlist-list{
    height: calc(100vh - 23rem);
    overflow: scroll;
}

/* ***************** */
/* ? MAIN */
/* ***************** */

main{
    width: var(--main-width);
    margin: 0 0 0 .5rem;
}

main .container{
    height: calc(100vh - var(--footer-height) - 1rem);
    max-width: 106rem;
    padding: 1rem;
    overflow: scroll;
}

main nav{
    position: fixed;
    width: calc(var(--main-width) - 3rem);
}

main .circle{
    background-color: rgba(0,0,0,0.5);
    height: 2.3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    justify-content: center;
}

main .settings .circle:nth-child(2){
    margin: 0 .3rem;
}

main .installa{
    background-color: rgba(0,0,0,0.5);
    height: 2.3rem;
    padding: 0 .8rem;
    border-radius: 3rem;
    align-content: center;
    text-align: center;
}

.installa i{
    font-size: 1rem;
    align-self: center;
    margin-right: .3rem;
}

.installa h3{
    font-size: .8rem;
    align-self: center;
}

.circle > img{
    width: 1.6rem;
    border-radius: 50%;
    align-self: center;
    padding-top: .15rem;
}

section.recently{
    padding: 1rem 0;
    margin-top: 2rem;
}

article.disk.rounded{
    width: calc((100% / 4) - 1rem);
    height: 4rem;
    object-fit: contain;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.1);
    margin: .5rem;
}

article.disk img{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

article.disk h2{
    line-height: 4rem;
    margin-left: .5rem;
    font-size: 1rem;
}

main > section > h2{
    margin-top: 1rem;
}

article.card{
    width: calc(100% / 7);
    padding: 0.5rem;
}

article.card img{
    width: 100%;
}

article.card h2{
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

article.card p{
    font-size: .8rem;
}

img.artist{
    border-radius: 50%;
}

/* ***************** */
/* ! FOOTER CLASSES */
/* ***************** */

footer {
    justify-content: space-between;
}

section.current-song,
section.player,
div.time,
section.volume-controller{
    padding: .5rem;
    align-items: center;
}

section.current-song img{
    height: 100%;
}

section.current-song h2{
    font-size: 1rem;
}

.controls{
    justify-content: center ;
}

section.current-song p{
    font-size: .7rem;
}

div.song-info{
    margin: 0 1rem;
}

footer .player i{
    margin: 0 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

footer .player i:nth-child(3){
    font-size: 2rem;
}

.time .progress-bar{
    width: 30vw;
    margin: 0 0.5rem;
    height: .35rem;
}

.time .actual-progress{
    width: 0;
    animation: timing 186s linear infinite;
    
}

footer .volume-controller i{
    margin: 0 .5rem;
}

.volume-controller .progress-bar{
    width: 5vw;
    margin: 0 0.5rem;
    height: .3rem;
}

.volume-controller .actual-progress{
    width: 30%;
}

/* ***************** */
/* ! COLOR CLASSES */
/* ***************** */
.gray-back{
    background-color: var(--dark-gray);
}

.light-gray-color{
    color: var(--light-gray);
}

.green-color{
    color: var(--spotify-green)
}

/* ***************** */
/* ! keyframes */
/* ***************** */

@keyframes timing {
    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}

/* ***************** */
/* ! MEDIA QUERIES */
/* ***************** */

@media screen and (max-width: 1400px){
    article.card:last-child{
        display: none;
    }

    article.card{
        width: calc(100% / 6);
    }

    article.disk.rounded{
        height: 3rem;
    }

    article.disk h2{
        line-height: 3rem;
    }
}

@media screen and (max-width: 1350px){
    article.card:nth-child(6){
        display: none;
    }

    article.card{
        width: calc(100% / 5);
    }
}

@media screen and (max-width: 1300px){
    article.disk.rounded{
        width: calc((100% / 2) - 1rem);
    }

    article.card:nth-child(5){
        display: none;
    }

    article.card{
        width: calc(100% / 4);
    }
}


@media screen and (max-width: 1100px){
    article.card:nth-child(4){
        display: none;
    }

    article.card{
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 872px){
    article.card:nth-child(3){
        display: none;
    }

    article.card{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 860px){
    :root{
        --header-width: 4rem;
    }

    header h1,
    .playlist-info,
    .tablet-invisible{
        display: none;
    }
    
    .playlist-list{
    height: calc(100vh - 18rem);
    }
}