*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ***************** */
/* ! UTILITIES */
/* ***************** */
:root{
    --black: #000000;
    --dark-gray: #121212;
    --gray: #232323;
    --light-gray: #b3b3b3;
    --spotify-green: #1dd35e;
    --header-width: 27rem;
    --footer-height:5rem;
    --main-width: calc(100vw - var(--header-width) - 1rem);
}

body {
    background-color: black;
    color: white;
    font-family: Montserrat, sans-serif;
    height: 100vh;
}

.row{
    display: flex;
    flex-direction: row;
}

.justified{
    justify-content: space-between;
}

.rounded{
    border-radius: 7px;
}

.main-container{
    padding: .5rem;
    height: calc(100vh - var(--footer-height));
}

a.button{
    font-size: .8rem;
    background-color: var(--gray);
    padding: .5rem .8rem;
    border-radius: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

i.giant{
    line-height: 3rem;
    font-size: 1.5rem;
    margin: 0 1rem 0 .5rem;
}

i.medium{
    line-height: 2rem;
    margin: .5rem 0;
    font-size: 1.2rem;
    height: 2rem;
    width: 2rem;
    text-align: center;
}

i.small{
    margin: .5rem 0;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
}

.wrapped{
    display: flex;
    flex-wrap: wrap;
}

/* ***************** */
/* ? HEADER */
/* ***************** */

header{
    width: var(--header-width);
}

header .nav,
header .library{
    padding: .5rem;
}

header .centered{
    width: 95%;
    margin: 0 auto;
}

header h1{
    font-size: 1rem;
    line-height: 3rem;
}

header section.nav{
    margin-bottom: .5rem;
}

header .button{
    margin-right: .5rem;
}

header h3{
    line-height: 1.5rem;
    font-size: .8rem;
    font-weight: 500;
    align-self: center;
}

header .playlist-list article{
    height: 3rem;
    margin: .5rem 0;
}

header img.rounded{
    border-radius: 3px;
}

span.rotate i{
    transform: rotate(45deg);
    align-self: center;
    font-size: .8rem;
}

span.rotate{
    margin-right: .5rem;
}

.playlist-info{
    margin-left: .5rem;
    align-content: center;
}

.playlist-info h2{
    font-size: 1rem;
}

.playlist-list{
    height: calc(100vh - 22.5rem);
    overflow: scroll;
}

/* ***************** */
/* ? MAIN */
/* ***************** */

main{
    width: var(--main-width);
    margin: 0 0 0 .5rem;
    padding: 1rem;
}

main .circle{
    background-color: rgba(0,0,0,0.5);
    height: 2.3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    justify-content: center;
}

main .settings .circle:nth-child(2){
    margin: 0 .3rem;
}

main .installa{
    background-color: rgba(0,0,0,0.5);
    height: 2.3rem;
    padding: 0 .8rem;
    border-radius: 3rem;
    align-content: center;
    text-align: center;
}

.installa i{
    font-size: 1rem;
    align-self: center;
    margin-right: .3rem;
}

.installa h3{
    font-size: .8rem;
    align-self: center;
}

.circle > img{
    width: 1.6rem;
    border-radius: 50%;
    align-self: center;
    padding-top: .15rem;
}

section.recently{
    padding: 1rem 0;
}

article.disk.rounded{
    width: calc((var(--main-width) / 4) - 1.6rem);
    height: 4rem;
    object-fit: contain;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.1);
    margin: .5rem;
}

article.disk img{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

article.disk h2{
    line-height: 4rem;
    margin-left: .5rem;
    font-size: 1rem;
}

/* ***************** */
/* ! COLOR CLASSES */
/* ***************** */
.gray-back{
    background-color: var(--dark-gray);
}

.light-gray-color{
    color: var(--light-gray);
}

.green-color{
    color: var(--spotify-green)
}